---
import { CalltoAction } from "@/config/Sections";
---

<section
  class="max-w-full bg-gradient-to-bl from-black to-black-20 text-white mx-auto px-6 py-20 text-center rounded-lg"
  aria-label={CalltoAction.arialable}
>
  <h1 class="text-4xl md:text-5xl text-real-brand font-bold text-gray-900 mb-6">
    {CalltoAction.title}
  </h1>

  <p class="text-gray-500 mb-10 max-w-2xl mx-auto">
    {CalltoAction.description}
  </p>

  <a
    href={CalltoAction.ctaHref}
    class="bg-brand text-black hover:bg-brand-hover font-semibold py-3 px-8 rounded-lg hover:bg-gray-800 transition duration-200"
  >
    {CalltoAction.ctaText}
  </a>
</section>
