---
import { FOOTER } from "@/config/Sections";
import { SOCIALLINKS, NAVLINKS, CONTACTS, SITE } from "@/config/const";
import type { SimpleIcon } from "simple-icons";
import Image from "astro/components/Image.astro";
import {
  MapPin,
  PhoneIncoming,
  MessageCirclePlus,
  MailPlus,
} from "@lucide/astro";
---

<footer
  class="bg-black-20 text-white py-8 px-4 md:px-16"
  aria-lable={FOOTER.arialable}
>
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center border-b border-gray-300 pb-6 mb-6"
  >
    <div class="mb-4 md:mb-0">
      <Image
        src="/logo/YellowCliksLogo.webp"
        alt="Yellow Cliks Logo"
        width={200}
        height={100}
      />
      <span class="text-sm block mt-1">{FOOTER.title}</span>
    </div>

    <div class="flex space-x-4 md:space-x-6">
      {
        SOCIALLINKS.map((link) => (
          <a
            href={link.href}
            class="block mx-2 bg-brand hover:to-brand-hover transition p-3 rounded-md"
            title={link.text}
            target={link.external ? "_blank" : "_self"}
            rel={link.external ? "noopener noreferrer" : undefined}
          >
            <svg viewBox="0 0 24 24" width="16" height="16">
              <path d={(link.icon as SimpleIcon).path} />
            </svg>
            <span class="sr-only">{link.text}</span>
          </a>
        ))
      }
    </div>
  </div>

  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="space-y-3">
      <h3 class="font-bold text-lg text-real-brand">عن Clicks</h3>
      <p class="leading-relaxed">
        {FOOTER.description}
      </p>
    </div>

    <div class="space-y-3">
      <h3 class="font-bold text-lg text-real-brand">الوصول السريع</h3>
      <ul class="space-y-2">
        {
          NAVLINKS.map((link) => (
            <li>
              <a
                href={link.href}
                class="bloc mx-2"
                title={link.text}
                target={link.external ? "_blank" : "_self"}
                rel={link.external ? "noopener noreferrer" : undefined}
              >
                {link.text}{" "}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- import {
  MapPin,
  PhoneIncoming,
  MessageCirclePlus,
  MailPlus,
} from "@lucide/astro"; -->

    <div class="space-y-3">
      <h3 class="font-bold text-lg text-real-brand">تواصل معنا</h3>
      <address class="not-italic space-y-2">
        <address class="hover:text-brand cursor-pointer flex">
          <MapPin class="me-2" />
          {CONTACTS.address}
        </address>
        <p class="hover:text-brand cursor-pointer flex">
          <PhoneIncoming class="me-2" />
          {CONTACTS.phone}
        </p>
        <p class="hover:text-brand cursor-pointer flex">
          <MessageCirclePlus class="me-2" />
          {CONTACTS.whatsapp}
        </p>
        <p class="hover:text-brand cursor-pointer flex">
          <MailPlus class="me-2" />
          {CONTACTS.email}
        </p>
      </address>
    </div>
  </div>

  <div
    class="container mx-auto mt-8 pt-4 border-t border-gray-300 text-center text-sm"
  >
    <p class="text-sm text-center mt-4">
      © <time>{new Date().getFullYear()}</time>
      {SITE.title}. جميع الحقوق محفوظة.
    </p>
  </div>
</footer>
